[Desktop Entry]
Type=Application
Name=Oxpad
Comment=A simple notepad written in Rust
Exec=oxpad-gui %f
Icon=oxpad
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;text/markdown;
StartupWMClass=oxpad-gui
